---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import Tailwind from "./icons/Tailwind.astro";
import LinkButton from "./LinkButton.astro";
import Html from "./icons/Html.astro";
import Java from "./icons/Java.astro";
import NextJS from "./icons/NextJS.astro";
import JavaScript from "./icons/JavaScript.astro";

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#6B3B1B] text-white",
    icon: Html,
  },
  JAVA: {
    name: "Java",
    class: "bg-[#454545] text-white",
    icon: Java,
  },
  NEXTJS: {
    name: "NextJS",
    class: "bg-[#000000] text-white",
    icon: NextJS,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black",
    icon: JavaScript,
  },
};
const PROJECTS = [
  {
    title: "L'Arenosa Labs - Personal Project",
    description:
      "L'Arenosa Labs es un proyecto personal empresarial, donde se ofrecen servicios de desarrollo web y mucho más",
    tags: [],
    image: "./portfolio.webp",
  },
  {
    title: "Portfolio Personal",
    description:
      "Portfolio personal de Nukedev, aquí encontrarás información sobre mi experiencia, proyectos y habilidades. Creado desde cero con Tailwind CSS y HTML.",
    github: "https://github.com/Nukeddev/portfolio",
    image: "./portfolio.webp",
    tags: [TAGS.TAILWIND, TAGS.HTML],
  },
  {
    title: "HacktoberFest - Caribe Dev",
    description:
      "Página oficial de Hacktoberfest para Caribedev, implementando un diseño intuitivo y moderno que destacaba eventos, proyectos y contribuciones de código abierto.",
    link: "https://caribedev.org/hacktoberfest/2024/index.html",
    github: "https://github.com/Caribe-Dev/caribe-page",
    image: "./hacktoberfest.webp",
    tags: [TAGS.NEXTJS, TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Portfolio - Academy Studios",
    description:
      "Portfolio dedicado a Academy Studios, proyecto en el que se dedican a la creación de construcciones o eventos dentro del videojuego Minecraft.",
    link: "https://academystudios.net/",
    github: "",
    image: "./academystudios.webp",
    tags: [],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Imagen de proyecto"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
